/*
 * Main CSS file for Ventspils Augstskola RSS widget
 *
 * Created: 22-01-2013
 * Author: r00m (twitter.com/r00m)
 */

 body {
    font-family: Tahoma;
    font-size:13px;
    color: #333;
    background-repeat: no-repeat;
}

a {
    font-size: 12px;
    color: #339900;
}

#logo {
    margin-bottom: 10px;
    padding: 20px 10px 0 20px;
}

#data {
    display: block;
    overflow-y: scroll;
    width: 352px;
    height: 230px;
    padding: 5px;
}

h2 {
    clear: both;
    font-size: 13px;
    margin: 10px 0 10px 5px;
    padding: 5px;
    background: #ccc;
}

.topic {
    clear: both;
    color: #999;
    margin: 3px 0;
    border-bottom: 1px dashed #ccc;
    padding:0 5px 5px 5px;
}

#front a {
    text-decoration: none;
    display: block;
    max-width: 250px;
    float: left;
}

#front a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.time {
    float: right;
    font-size: 11px;
}

.author {
    color: #555;
    font-size: 11px;
    padding-top: 2px;
    float: left;
    clear: both;
}

div#front #infoButton + div {
    margin-top: 0;
    padding-top: 0;
}

/*.topic + h2 {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 3px;
}*/

#footer {
    position: relative;
    bottom: -3px;
    height: 20px;
    width: 360px;
    color: #999;
}

#footer p {
    margin: 0;
    padding-top: 2px;
    text-align: center;
}


/* Flip buttons
 *********************************************/
#infoButton {
    position: absolute;
    bottom: 13px;
    right: 15px;
}

#back {
    margin-left: 5px;
    display: none;
    background-color: #333;
    width: 354px;
    height: 357px;
    color: #fff;
    text-align: center;
}

#back h3 {
    padding-top: 130px;
    margin: 0;
}

#doneButton {
    position: absolute;
    bottom: 20px;
    right: 27px;
}